/* Estilos Globais */
:root {
    --cor-de-fundo: #ebecee;
    --branco: #ffffff;
    --laranja: #eb9b00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #010304;
    --fonte-secundario: "Josefin Sans";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal), sans-serif;
    background-color: var(--cor-de-fundo);
    color: #333;
}

.cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--azul);
} 

.cabeçalho__logo img {
    width: 150px; /* Tamanho da logo */
    height: auto; /* Mantém a proporção da imagem */
}

header {
    background-color: #2d241c;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.cabeçalho__menu ul {
    display: flex;
    list-style: none;
}

.cabeçalho__menu ul li {
    margin-left: 20px;  
}

.cabeçalho__menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.cabeçalho__menu ul li a:hover {
    color: var(--laranja);
}

section {
    margin: 30px;
    text-align: center;
}

h2 {
    color: #000000c6;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.galeria-imagens {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.galeria-imagens img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

#cardapio ul {
    list-style-type: none;
    padding: 0;
}

#cardapio ul li {
    font-size: 20px;
    margin-bottom: 10px;
}

#contato p {
    font-size: 18px;
}

.social img {
    width: 40px;
    margin: 0 10px;
}

footer {
    background: var(--azul-degrade);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.secundario__imagem {
    max-width: 100%;
}

.logo-imagem {
    max-width: 100%;
}
